@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?o1f226");
  src: url("../fonts/icomoon.eot?o1f226#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?o1f226") format("truetype"), url("../fonts/icomoon.woff?o1f226") format("woff"), url("../fonts/icomoon.svg?o1f226#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bike:before {
  content: "\e900"; }

.icon-car:before {
  content: "\e901"; }

.icon-clock:before {
  content: "\e902"; }

.icon-document:before {
  content: "\e903"; }

.icon-facebook:before {
  content: "\e904"; }

.icon-guarantee:before {
  content: "\e905"; }

.icon-heart:before {
  content: "\e906"; }

.icon-instagram:before {
  content: "\e907"; }

.icon-libra:before {
  content: "\e908"; }

.icon-mail:before {
  content: "\e909"; }

.icon-map:before {
  content: "\e90a"; }

.icon-map_header:before {
  content: "\e90b"; }

.icon-mechanic:before {
  content: "\e90c"; }

.icon-no:before {
  content: "\e90d"; }

.icon-ok:before {
  content: "\e90e"; }

.icon-percentage:before {
  content: "\e90f"; }

.icon-phone:before {
  content: "\e910"; }

.icon-phone_contact:before {
  content: "\e911"; }

.icon-prevention:before {
  content: "\e912"; }

.icon-question:before {
  content: "\e913"; }

.icon-scan:before {
  content: "\e914"; }

.icon-shield:before {
  content: "\e915"; }

.icon-siren:before {
  content: "\e916"; }

.icon-support:before {
  content: "\e917"; }

.icon-thief:before {
  content: "\e918"; }

.icon-time:before {
  content: "\e919"; }

.icon-user:before {
  content: "\e91a"; }

.icon-vk:before {
  content: "\e91b"; }

.icon-youtube:before {
  content: "\e91c"; }

html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

body, html {
  height: 100%; }

h1 {
  color: #4b788a;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 20px; }
  @media screen and (min-width: 960px) {
    h1 {
      font-size: 60px;
      line-height: 24px;
      margin-bottom: 57px; } }

h1.av-zashchita_title {
  display: block;
  color: #4b788a;
  margin: 0 auto;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 20px; }
  @media screen and (min-width: 960px) {
    h1.av-zashchita_title {
      font-size: 60px;
      line-height: 24px;
      margin-bottom: 35px; } }

h2.home-title {
  display: block;
  color: #4b788a;
  margin: 0 auto;
  font-size: 35px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px; }
  @media screen and (min-width: 960px) {
    h2.home-title {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 54px; } }

h3 {
  display: block;
  color: #4b788a;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 44px; }
  @media screen and (min-width: 960px) {
    h3 {
      font-size: 30px;
      line-height: 36px; } }

h4 {
  display: block;
  color: #4b788a;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 44px; }
  @media screen and (min-width: 960px) {
    h4 {
      font-size: 20px;
      line-height: 25px; } }

h5 {
  display: block;
  color: #4b788a;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px; }
  @media screen and (min-width: 960px) {
    h5 {
      font-size: 30px;
      line-height: 36px; } }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.vertical-align {
  vertical-align: middle; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.left {
  text-align: left; }
  .left h2 {
    text-align: left;
    margin: unset important; }

body {
  font-family: 'Fira Sans', sans-serif;
  color: #1a1c1d;
  font-size: 14px;
  line-height: 24px; }

strong {
  font-weight: 700; }

.content-part p {
  padding-bottom: 25px; }
.content-part q {
  color: #4b788a;
  font-size: 20px;
  line-height: 28px; }
  .content-part q .red {
    color: #d04a43; }
.content-part table {
  width: 100%;
  margin-bottom: 30px; }
  .content-part table td {
    padding: 15px 19px;
    background: #f5f4f5;
    font-size: 16px;
    color: #1a1c1d; }
  .content-part table tr:first-child td {
    background: #4b788a;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
