.any-questions
	.container
		.row
			.col-lg-6.col-md-12
				.any-title ЕСТЬ ВОПРОСЫ?
				.any-sub-title Просто позвоните нам: 8 (3812) <strong>34-12-00</strong>
				form(class="any-form" action="#")
					.any-form-title Или закажите звонок:
					.form-top
						.form-top_left
							input(type="text" name="uname" placeholder="Как к вам обращаться?")
						.form-top_right
							input(type="text" name="phone" class="phone" placeholder="Введите номер телефона")

					input(type="hidden" name="formname" valie="Есть вопросы?")
					input(type="submit" class="button" value="Перезвоните мне")
