.container
	.row
		.col-lg-12
			.av-zashchiva
				h1.av-zashchita_title Авторская защита от угона
				.av-zashchita_subtitle Надёжная защита вашего автомобиля. <br> Спешите записаться на бесплатную консультацию.
				.av-zashchita_desc.
					Базовый вектор развития обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Есть над чем задуматься: некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут обнародованы.
				.av-zashchita_bottom
					.av-zashchita_bottom_left
						a(class="button" href="#consult" data-modal="modal") Получить консультацию
					.av-zashchita_bottom_right
						a(class="ask" href="#ask" data-modal="modal")
							span(class="icon-question")
							span Задать вопрос



