include breadcrumbs.pug
.container
	.row
		.col-lg-11.offset-lg-1.col-md-12
			.content-part.inner-page
				h1 Новости
				.news-page-block
					.news-page-block_left
						.news-img-box
							a(href="#")
								img(src="img/n1.jpg")
					.news-page-block_right
						span.news-date 04.05.2017
						a(class="news-page_title" href="#") Попытка проникновения Lexus LX570 (май 2017)
						.news-page_desc.
							Очередная попытка угона. Автомобили Lexus как всегда находятся на вершине криминального рейтинга. В поле зрения преступников попал Lexus защищенный специалистами компании Алекс-Авто.
						a(class="news-page_more" href="#") Подробнее
				.news-page-block
					.news-page-block_left
						.news-img-box
							a(href="#")
								img(src="img/n2.jpg")
					.news-page-block_right
						span.news-date 16.08.2016
						a(class="news-page_title" href="#") Очередная попытка угона Toyota LC 200 (август 2016)
						.news-page_desc.
							Очередная попытка угона. И опять Toyota LC200. Злоумышленники действовали проверенным прикладным способом без применения высокотехнологичных способов.
						a(class="news-page_more" href="#") Подробнее
				.news-page-block
					.news-page-block_left
						.news-img-box
							a(href="#")
								img(src="img/n3.jpg")
					.news-page-block_right
						span.news-date 03.10.2014
						a(class="news-page_title" href="#") Получен Патент РФ на блокираторы дверей и новый контроллер
						.news-page_desc.
							Нашей Лабораторией авторской защиты была разработана новая конструкция дверных блокираторов и новая версия контроллера штырей.
						a(class="news-page_more" href="#") Подробнее
				nav(class="navigation pagination" role="navigation")
					.nav-links
						a(class="prev page-numbers" href="#") Назад
						a(class='page-numbers' href='#') 1
						span(class='page-numbers current') 2
						a(class='page-numbers' href='#') 3
						a(class="next page-numbers" href="#") Далее