.present
	.container
		.row
			.col-lg-7
				.video-block
					img(src="img/video.jpg")
					a(href="#video" data-modal="modal-video" class="video-play")
						.video-bag.
							https://www.youtube.com/watch?v=GfXrYe9yw1g
			.col-lg-5
				ul.present_list
					li
						.pr_left
							span(class="icon-shield")
						.pr_right
							span Более 3500 автомобилей <br/>защищено от угона
					li
						.pr_left
							span(class="icon-thief") 
						.pr_right
							span 57 попыток угонов
					li
						.pr_left
							span(class="icon-scan") 
						.pr_right
							span 0 угонов защищённых авто
					li
						.pr_left
							span(class="icon-percentage")
						.pr_right
							span Скидка до 70% на КАСКО <br/> по риску угон
.three-blocks
	.works
		.container
			.row
				.col-lg-12
					h2.home-title Примеры наших работ
				.col-lg-12
					.work-list
						- for(var i = 0; i < 8; i++)
							a(href="img/car.jpg" data-fancybox="group" data-caption="Заголовок")
								figure
									img(src="img/car.jpg")
									figcaption 
										span Land Rover Discovery IV
					.center
						a(class="button" href="#") Смотреть все работы
	.container
		.row
			.about.box-shadow
				.about_top
					.col-lg-10.offset-lg-1
						h2.home-title О компании
						.content-part
							p.
								<strong>Компания Алекс-Авто</strong> основана в 2007 году единомышленниками, специалистами в области защиты автомобилей от угона с многолетним опытом работы. Мы используем авторские методики и алгоритмы, нестандартные и новаторские решения для защиты именно вашего автомобиля от угона. Нестандартный подход, четкая продуманность, связанность всех компонентов защиты, надежность и простота наших устройств, позволяют взглянуть с иной стороны на проблему защиты автомобиля от угона, нежели предлагает рынок. В 2010 году Алекс-Авто стала Лауреатом смотр-кокурса «Инновационные предприятия г. Омска»
							p.
								q.
									Нас объединяет одна цель — желание предоставить вам максимально качественную услугу «Защита от угона», найти наиболее простой, удобный и эффективный способ защиты от угона именно Вашего автомобиля со всеми особенностями его хранения и эксплуатации.
							p.
								<strong>УГОН</strong> — это четкая и абсолютно предсказуемая последовательность действий с множественными (в зависимости от марки машины) вариантами его начала и завершения. Предсказуемость и последовательность действий - это и есть слабая сторона угонщика. Мы знаем его действия, следовательно — мы можем ему противостоять.
				.about_bottom
					.col-lg-10.offset-lg-1
						h4 Что Вам даст использование нашей <br/> авторской защиты автомобиля от угона
						.list2col
							.list2col-item
								- var list = ['Сохранит нервы и здоровье','Защитит от угона на весь срок владения автомобилем','Даст чувство защищённости','Уникальность, подтверждённую патентами РФ'];
						
								+ulli(list,'list-bg')
							.list2col-item
								- var list = ['Круглосуточную защита автомобиля без абонентской платы','Сохранит автомобиль на гарантии дилера','Бессрочную гарантию на всё наше оборудование','Скидки на страхование по КАСКО до 70%'];
								+ulli(list,'list-bg')
						.center
							a(class="button" href="#") Подробнее о компании
	include testimonials.pug
.command
	.container
		.row
			.command-inner
				.command-left
						h2.home-title Наша команда
						.team-slider
							- for(var i = 0; i < 5; i++)
								.item
									.item_inner
										.team-slider_left
											.team_ava
												img(src="img/foto2.jpg")
										.team-slider_right
											span.team_name Мельников Александр
											span.team_role Руководитель компании <br/> Алекс-Авто
						a(class="button button-slide" href="#") Все сотрудники
				.command-right
					h2.home-title Частые <br/> вопросы
					.faq-slider
						- for(var i = 0; i < 5; i++)
							.item
								a(href="#") Сколько стоит защита от угона на мой автомобиль?
					a(class="button button-slide" href="#") Все вопросы
				.clear
.clearfix
.sertificates
	.container
		.row
			.col-lg-12
				h2.home-title Наши дипломы и награды
			.clearfix
			- var list = ['img/s1.jpg','img/s2.jpg','img/s3.jpg','img/s4.jpg','img/s5.jpg','img/s6.jpg','img/s7.jpg','img/s8.jpg',];
			for item in list
				.col-lg-3.col-md-6
					.sert-item
						.sert-item_inner
							a(href=item data-fancybox="serts")
								img(src=item class="box-shadow")
			.clearfix
			.col-lg-12
				a(class="button" href="#") Все дипломы и награды
.partners
	.container
		.row
			.col-lg-12
				h2.home-title Наши партнёры
				table.partners-list
					tr
						td
							img(src="img/l1.jpg")
						td
							img(src="img/l2.jpg")
						td
							img(src="img/l3.jpg")
					tr
						td
						td
							img(src="img/l4.jpg")
						td
.home-about2
	.container
		.row
			.about
				.about_bottom.box-shadow
					.col-lg-10.offset-lg-1
						h2.home-title Компания Алекс-Авто в Омске
						.content-part
							p.
								Компания Алекс-Авто основана в 2007 году единомышленниками, специалистами в области защиты автомобилей от угона с многолетним опытом работы. Мы используем авторские методики и алгоритмы, нестандартные и новаторские решения для защиты именно вашего автомобиля от угона. Нестандартный подход, четкая продуманность, связанность всех компонентов защиты, надежность и простота наших устройств, позволяют взглянуть с иной стороны на проблему защиты автомобиля от угона, нежели предлагает рынок. В 2010 году компания Алекс-Авто стала Лауреатом смотр-кокурса «Инновационные предприятия г. Омска»
							p.
								Нас объединяет одна цель — желание предоставить вам максимально качественную услугу «Защита от угона», найти наиболее простой, удобный и эффективный способ защиты от угона именно Вашего автомобиля со всеми особенностями его хранения и эксплуатации.
							p.
								УГОН — это четкая и абсолютно предсказуемая последовательность действий с множественными (в зависимости от марки машины) вариантами его начала и завершения. Предсказуемость и последовательность действий - это и есть слабая сторона угонщика. Мы знаем его действия, следовательно - мы можем ему противостоять.
							p
								q.
									Наше предприятие располагается на <strong class="red">площади 750 м2</strong>, имеет <strong class="red">10 постов</strong>, оборудованных самым современным оборудованием для работ по защите автомобиля от угона. Коллектив нашего предприятия насчитывает <strong class="red">25 человек</strong>.
							h3 Установка охранных систем для автомобилей в Омске
							p.
								Итак, почему мы лучшие? Потому, что мы думаем не только о составе и алгоритмах защиты от угона, но еще и о тех, кто непосредственно выполняет инсталляцию (монтаж).
							p.
								Защиту, прежде всего, обеспечивает мастер. Каким бы не было замечательное оборудование и инженерная мысль, только мастер заставляет работать устройства охранного комплекса с максимальной отдачей, и исполнять в полной мере возложенную на них функцию. Сотрудники нашей Лаборатории имеют все необходимые условия для творческой, вдумчивой и интересной работы.
							- var list = ['полное обеспечение инструментом и расходными материалами;','нормированный рабочий день без задержек (никаких ночных работ);','работа в соответствии с ТК РФ (оплачиваемый отпуск 28 календарный дней, отдых с семьей в праздничные дни...);','высокая, индексируемая в соответствии с инфляцией, заработная плата;','постоянное повышение квалификации.'];
							+ulli(list, 'list-sm', 'false')
							p.
								Прошу учесть, что мы никого не обучаем и никого не берем на работу со стороны, по объявлениям или через кадровые агентства. Ваша машина никогда не станет «тренажером» или «испытательным стендом» для ученика. Если вы хотите устроиться к нам на работу, то у вас ничего не получится.
.home-news-block
	.container
		.row
			.col-lg-12
				h2.home-title Новости компании
			.col-lg-4
				.home-news-item
					.home-news_img
						a(href="#")
							img(src="img/n1.jpg")
						.date-box
							span.news-date 04.05.2017
					a(class="home-news_title" href="#") Попытка проникновения Lexus LX570 (май 2017)
					.home-news_desc.
						Очередная попытка угона. Автомобили Lexus как всегда находятся на вершине криминального рейтинга. В поле зрения преступников попал Lexus защищенный специалистами компании Алекс-Авто.
			.col-lg-4
				.home-news-item
					.home-news_img
						a(href="#")
							img(src="img/n2.jpg")
						.date-box
							span.news-date 04.05.2017
					a(class="home-news_title" href="#") Очередная попытка угона Toyota LC 200 (август 2016)
					.home-news_desc.
						Очередная попытка угона. И опять Toyota LC200. Злоумышленники действовали проверенным прикладным способом без применения высокотехнологичных способов.
			.col-lg-4
				.home-news-item
					.home-news_img
						a(href="#")
							img(src="img/n3.jpg")
						.date-box
							span.news-date 04.05.2017
					a(class="home-news_title" href="#") Получен Патент РФ на блокираторы дверей и новый контроллер
					.home-news_desc.
						Нашей Лабораторией авторской защиты была разработана новая конструкция дверных блокираторов и новая версия контроллера штырей
			.clearfix
			.col-lg-12
				.center
					a(class="button" href="#") Все новости
include any_questions.pug
include map.pug