include breadcrumbs.pug
.container
	.row
		.col-lg-11.offset-lg-1.col-md-12
			.content-part
				h1 Гарантия качества
				.major-text.
					Опираясь на <strong>высокое качество проделываемых</strong> работ и <strong>высокую надежность используемого оборудования</strong>, гарантийные обязательства нашей компании включают следующие пункты:
				- var list = {'Бессрочная гарантия на работу и оборудование':'icon-guarantee','Бесплатная круглосуточная техподдержка на весь срок владения автомобилем': 'icon-support','Бесплатная профилактика электромеханических узлов и деталей охранного комплекса на весь срок владения автомобилем':'icon-prevention','Бесплатный выезд при попытке угона для восстановления работоспособности автомобиля документирование материала на весь срок владения автомобилем':'icon-siren','Бесплатный выезд мастера (или вызов эвакуатора) в случае выхода из строя узлов или деталей охранного комплекса, отвечающих за работу двигателя':'icon-mechanic','Бесплатное решение спорных ситуаций с дилером (в случае претензий) по вопросам вмешательства в штатную проводку':'icon-libra'};
				ul.garant-list
					each val, index in list
						li
							.garant-list_left
								- var ic = val
								span(class=ic)
							.garant-list_right
								span=index
		.clearfix
.container
	.you-get
		.row
			.col-lg-10.col-md-12.offset-lg-1
				.you-get_title 	При защите от угона автомобиля в нашей компании вы получаете <br> полный пакет документов:
				.you-get_row
					.you-get_left
						span.icon-document
					.you-get_right
						- var list = ['— Договор на оказание услуг','— Приложение к Договору с перечнем работ','— Акт приема-передачи автомобиля в работу','— Акт приема-сдачи выполненных работ','— Гарантийный талон','— Копии наших Сертификатов ГОСТ-Р (для дилера)','— Подробную инструкцию работы охранного комплекса'];
						+ulli(list, 'ul-normal', 'false')
include advantages.pug
include poluchite.pug
.container
	.row
		.col-lg-12.testimonials-zash
			include testimonials.pug
.container
	.popular-questions-garant
		.row
			.col-lg-10.col-md-12.offset-lg-1
				
					h3 Популярные вопросы
					- var list = ['Сколько стоит защита от угона на мой автомобиль?','Я из другого города. Как воспользоваться вашими услугами?','Можно ли установить лишь части вашего комплекса?','Есть ли у вас филиалы в моем городе?','Может ли меня дилер снять с гарантии при установке вашей защиты?'];
					+menu(list, 'list-bg')
					.center
						a(href="#" class="button") Все вопросы 

.clearfix
include any_questions.pug
include map.pug