include breadcrumbs.pug
.container
	.row
		.col-lg-11.offset-lg-1.col-md-12
			.content-part.inner-page
				h1 Контакты
				.contacts-block
					.row
						.col-lg-4
							ul.contacts-list
								li
									.contacts-block_li_left
										span.icon-phone_contact
									.contacts-block_li_right
										span Телефон:
										span.cont-bold +7 (3812) 34-12-00
										span.cont-bold +7 (3812) 49-95-01
								li
									.contacts-block_li_left
										span.icon-mail
									.contacts-block_li_right
										span Email:
										span.cont-bold info@alex-avto55.ru
								li
									.contacts-block_li_left
										span.icon-map_header
									.contacts-block_li_right
										span Адрес:
										span.cont-bold г. Омск, ул. Учебная, 77, 1 этаж
								li
									.contacts-block_li_left
										span.icon-time
									.contacts-block_li_right
										span Время работы:
										span.cont-bold пн - вс: 10:00-20:00 <br> без выходных
								li
									.contacts-block_li_left
										span.icon-car
									.contacts-block_li_right
										span Как проехать:
										span.cont-bold Заезд с улицы Учебная <br> под шлагбаум на территорию
						.col-lg-7
							.contacts-page-map
								#mape
