.header-top
	.container
		.row
			.col-md-12
				a(href="#order" class="callback" data-modal="modal")
					span(class="icon-phone")
					span Заказать звонок
				a(href="#ask" class="ask" data-modal="modal")
					span(class="icon-question")
					span Вопрос к специалисту
				a(href="#" class="location")
					span(class="icon-map_header")
					span Карта проезда
				a(href="#" class="grafic")
					span(class="icon-time")
					span График работы
.header-midde
	.container
		.row
			.col-lg-3
				.logo-box
					a(href="/")
						img(src="img/logo.png")
			.col-lg-3
				.soc-block
					a(href="#" class="youtube")
					a(href="#" class="vk")
					a(href="#" class="inst")
					a(href="#" class="fb")
			.col-lg-3
				.header-contacts-box
					span.header_phone 8 (3812)
						span 34-12-00
					br
					span.header_phone 8 (3812)
						span 49-95-01
					.address
						span(class="icon-map")
						span г. Омск, ул. Учебная, 77
			.col-lg-3
				.header-button
					a(href="#consult" class="button" data-modal="modal") Записаться на консультацию
.header-topped
	.container
		.row
			.col-lg-12
				.main-nav
					ul.main-menu
						li
							a(href="#") Главная
						li
							a(href="#") Примеры работ
						li
							a(href="#") Цены
							i(class="fa fa-angle-right" aria-hidden="true")
							ul.sub-menu
								li
									a(href="#") Авторская защита от угона
								li
									a(href="#") Укрепление стёкол
								li
									a(href="#") Защитная сетка решётки радиатора
								li
									a(href="#") Усиление штатного звукового сигнала
								li
									a(href="#") Установка сигнализаций
									i(class="fa fa-angle-right" aria-hidden="true")
									ul.sub-menu
										li
											a(href="#") Pandora
										li
											a(href="#") StarLine
										li
											a(href="#") Autolis
								li
									a(href="#") Шумоизоляция кузова автомобиля
								li
									a(href="#") Предпусковые подогреватели Webasto
						li
							a(href="#") Предотвращённые угоны
						li
							a(href="#") Как мы работаем
						li
							a(href="#") О компании
							i(class="fa fa-angle-right" aria-hidden="true")
							ul.sub-menu
								li
									a(href="#") Гарантия качества
								li
									a(href="#") Наша команда
								li
									a(href="#") Дипломы и награды
								li
									a(href="#") Новости
						li
							a(href="#") Вопрос-ответ
						li
							a(href="#") Статьи
						li
							a(href="#") Контакты
.mobile-menu-panel
	input(type="checkbox" id="check_1" class="anz-mobile")
	label(class="anz-menu-ch anz-mobile" for="check_1")
		#nav-icon
			span
			span
			span
			span
	.anz-perspective
		.menu-list-pressed
			ul.mobile-menu
				li
					a(href="#") Главная
				li
					a(href="#") Примеры работ
				li
					a(href="#") Цены
					i(class="fa fa-angle-right" aria-hidden="true")
					ul.sub-menu
						li
							a(href="#") Авторская защита от угона
						li
							a(href="#") Укрепление стёкол
						li
							a(href="#") Защитная сетка решётки радиатора
						li
							a(href="#") Усиление штатного звукового сигнала
						li
							a(href="#") Установка сигнализаций
							i(class="fa fa-angle-right" aria-hidden="true")
							ul.sub-menu
								li
									a(href="#") Pandora
								li
									a(href="#") StarLine
								li
									a(href="#") Autolis
						li
							a(href="#") Шумоизоляция кузова автомобиля
						li
							a(href="#") Предпусковые подогреватели Webasto
				li
					a(href="#") Предотвращённые угоны
				li
					a(href="#") Как мы работаем
				li
					a(href="#") О компании
					i(class="fa fa-angle-right" aria-hidden="true")
					ul.sub-menu
						li
							a(href="#") Гарантия качества
						li
							a(href="#") Наша команда
						li
							a(href="#") Дипломы и награды
						li
							a(href="#") Новости
				li
					a(href="#") Вопрос-ответ
				li
					a(href="#") Статьи
				li
					a(href="#") Контакты