.gallery
	.gallery-main
		img(src="img/g3.jpg")
	.gallery-items
		.gallery-item
			img(src="img/g4.jpg")
		.gallery-item
			img(src="img/g5.jpg")
		.gallery-item
			img(src="img/g6.jpg")
.center
	a(href="#", class="button") CLICK HERE TO BOOK NOW

+HeadLine('Escort Bangkok', 0)

p.
	Welcome to Escort-Bangkok.com, an exclusive Bangkok escort agency in Thailand providing elite and amazing <i>GFE (Girlfriend Experience)</i> companions for both men and women. Escort-Bangkok.com is the only place where you can find the sexiest and most seductive <i>Bangkok Escorts</i>, Thailand Escorts and <i>International Escorts</i> available. Our sweet, sexy GFE <i>escort girls</i> and kinky Bangkok Ladyboy escorts (Shemales) companions can be booked either over the phone, using the numbers listed above or booked through our online <i>Bookings Portal.</i>
p.
	As you can see from the images on our site, our <i>busty escort girls</i> and <i>Ladyboys (Shemales)</i> are the cutest, sexiest and the most erotic kinky companions available in all of Thailand. Our <i>Thai girls</i> and <i>Ladyboy</i> escorts love to dress up in sexy lingerie and kinky costumes to tease and titillate you with their incredible young bodies, sexy long legs and amazing perky breasts. Besides looking hot, our Thailand call girls and Bangkok Ladyboys are really fun to be around and have fantastic personalities. Many of our <i>Bangkok escort girls</i> and Ladyboys (Shemales) are highly educated university graduates, some who have studied in the USA and UK and are looking to have an exciting sexual encounter with a distinguished gentleman or couple.
p.
	When you make your booking with Escort-Bangkok.com you can be sure that your time spent with our Thailand outcall escorts will be an unforgettable and wonderful experience!
+HeadLine('WHY CHOOSE ESCORT-BANGKOK.COM', 0)
p.
	When choosing an escort agency in Bangkok, Thailand for sensual companions, we understand that discretion is extremely important to you.  That is why we take a great consideration to our client's needs and privacy, we respond quickly to any type of request and we NEVER give out our client's personal information to anyone, period.  We also believe that "attention to detail" is an extremely important aspect in this industry as well as for our customers, which is why we work very hard to make sure your experience turns out perfect every time.
p.
	If you're someone who likes to book escort girls or Ladyboys when you're overseas in Thailand and have never before booked one of OUR out-call Bangkok escorts before, then you're in for a wonderful treat! Our GFE (Girlfriend Experience) girls and naughty Ladyboy escorts are unlike anything you have ever experienced before in your life; they are sexual, erotic, intelligent, classy, funny, and entertaining and love to try many new things!
p. 
	Anything you do in Thailand is amazing and that includes spending time with our <i>Bangkok escort girls</i> and Bangkok Ladyboys. Our out-call escorts love exploring the city of Bangkok, Pattaya, Hua Hin with their American, UK, European and Asian country clients, so if you are a little unsure on where to go and what to do in Bangkok, Thailand then why not book one of our young Bangkok girls or Ladyboys to give you a personal tour of your favorite city in Thailand. This way you will be able to see and do so many exciting new things many tourists never get to experience when visiting Thailand.
p.
	Our out-call escort agency serves Bangkok, Pattaya, Hua Hin and a number of other major cities throughout Thailand. We also provide escort companions who are available for international travel. If you would like to make an international booking, please <a href="#">contact us</a> for more details or visit our <a href="#">Rates & Services</a> page for more information on our <i>"International Travelling Escorts"</i>.
p. 
	We are a discreet, friendly and specialised escort agency providing elite and exclusive out-call services for our professional clients.

+HeadLine('NIGHT LIFE WITH THAI ESCORT GIRLS IN BANGKOK', 0)
p.
	Bangkok is a great city to visit, whether you are here on business or tourism pleasure. There is so much to do in and around city for all types of people. Whether it is visiting Bangkok's Temples, shopping downtown or enjoying a night out at one of <i>Bangkok premier nightclubs</i>, there is definitely no shortage of entertainment.
p.
	If you're someone who lives for Thailand nightlife and you want to enjoy a night out on the town in this amazing city, you should definitely check out some of Bangkok's newest and hottest electronic nightclubs such as <i>Insanity</i> located on Sukhumvit Soi 12 or Levels Club & Lounge located on the 6th floor of the Aloft Hotel on Sukhumvit Soi 11. Both Insanity and Levels hosts some of the world's top international DJ's rocking killer house music so you can dance the night away till the early morning with your sexy hot arm candy. If you're not afraid of heights then go check out Sky Bar which is the world's highest open air bar.
q.
	2013: The New York Times, US – Sky Bar is listed in "36 Hours in Bangkok" and named "the most stunning rooftop bar you’ll ever see"
p.
	But if you're looking to do something a bit more relaxed and romantic with your GFE escort companion, we highly recommend taking her out to The Reflexions Bangkok's top ranking French restaurants located on 61 Witthayu (Wireless Rd.) Rd., Plaza Athenee Bangkok. If you're in the mood for a more Asian dining experience then try Tsu Japanese Restaurant at the JW Marriott Hotel Bangkok on 4 Sukhumvit Soi 2.
p.
	We at Bangkok escort agency stop at nothing to make sure you, the customer, are always happy and satisfied with our companions.  We diligently work hard and continue to remain the best out-call escort agency in Bangkok, Thailand thanks to customers like you. Thank you for choosing Escort-Bangkok.com.

+HeadLine('CONTACT ESCORT-BANGKOK.COM', 0)
p.
	We are open <strong>7 days a week from 12:00pm (noon) to 02:00am</strong>
	Please give call us or email us today!
p.
	<span class="filled">For same day/short notice bookings please call us at:</span>
	<span class="phone-text">Local Call:  <span>080-000-0000</span></span>
	<span class="phone-text">International:  <span>+66 08-000-0000</span></span>
p.
	<span class="filled">For advanced bookings and special requests please email us at:</span>
	<a href="mailto:bookings@escort-bangkok.com" class="email-text">bookings@escort-bangkok.com</a>
	<span class="filled">For more information or to ask a question please email us at:</span>
	<a href="mailto:info@escort-bangkok.com" class="email-text">info@escort-bangkok.com</a>
p.
	<span class="filled">You can also reach us on your LINE app via your smart 
	phone as well.</span>
p.
	<span class="address-text">escort-bangkok</span>
p
	i
		We accepted PayPal, Bitcoin, Etherium, Dash and another cryptocurrency.

.row
	.col-md-6
		+tovarItem('g7.jpg', 'NEW ESCORTS', '', 'true', 'false', 'false')
	.col-md-6
		+tovarItem('g8.jpg', 'DUO ESCORTS', '', 'true', 'false', 'false')
	.clearfix
	.col-md-6
		+tovarItem('g7.jpg', 'BISEXUAL ESCORTS', '', 'true', 'false', 'false')
	.col-md-6
		+tovarItem('g8.jpg', 'LADYBOY ESCORTS', '', 'true', 'false', 'false')
	.clearfix

+HeadLine('Latest Reviews', 0)