.poluchite
	.container
		.row
			.col-lg-12
				.poluchite_title <strong>Получите лучшее!</strong>  Просто позвоните нам: <strong>8 (3812) 34-12-00</strong>
			.col-lg-12
				form(action="#" name="poluchite")
					.row
						.col-lg-3
							span Или закажите звонок:
						.col-lg-3
							input(type="text" name="uname" placeholder="Как к вам обращаться?")
						.col-lg-3
							input(type="text" name="phone" placeholder="Введите номер телефона")
						.col-lg-3
								input(type="hidden" name="formname" value="Получите лучшее!")
								input(type="submit" class="button" value="Перезвоните мне")


