a(name="program")
.programm
	.container
		.row
			.col-md-12
				h2 Программа практикума
	.container.programm-inner
		.row
			.col-md-6.col-sm-12.col-xs-12
				- var List = ['Различные подходы к определению репутации', 'Ее влияние на основные бизнес-показатели', 'Возможности, появляющиеся при системном управлении репутацией', 'Риски, возникающие при отсутствии работы с репутацией', 'Взаимосвязь между действиями в сети Интернет и процессами, происходящими в клинике'];
				+ProgramItem('1', 'Репутация клиники. Что это?', List)
			.col-md-6.col-sm-12.col-xs-12
				- var List = ['Точки формирования пользовательского опыта. Customer Journey Map', 'Работа с пользовательскими ожиданиями и обратной связью', 'Инструменты мониторинга. Целесообразность использования и стоимость'];
				+ProgramItem('2', 'Цепочка впечатлений', List )
			.clearfix
			.col-md-6.col-sm-12.col-xs-12
				- var List = ['Классификация отзывов', 'Методика отработки негатива и жалоб', 'Противодействие деятельности конкурентов', 'Мотивация пациентов оставлять реальные положительные отзывы'];
				+ProgramItem('3', 'Методика работы с отзывами', List )
			.col-md-6.col-sm-12.col-xs-12
				- var List = ['Описание процесса', 'Регламенты', 'Подготовка персонала', 'Контроль и совершенствование процесса'];
				+ProgramItem('4', 'Управление репутацией как бизнес-процесс', List )
			.clearfix
			.col-md-6.col-sm-12.col-xs-12
				- var List = ['Закон о персональных данных. Нововведения', 'Закон о рекламе', 'Особенности взаимодействия для медучреждений'];
				+ProgramItem('5', 'Правовые аспекты', List )
