.container
	.row
		.col-lg-10.offset-lg-1
			.testimonails-block
				.testimonails-block_headline
					h2.home-title Что о нас говорят клиенты
				.tesimonials-slider
					.item
						.testimonails-block_top
							.ava-box
								img(src="img/user.png")
							span.testimonails-name Александр
						.testimonails-block_middle
							span.testimonails-block_title Поделюсь собственным небольшим опытом
							p.
								5 лет назад устанавливал в Алекс-Авто охранный комплекс на 2 машины — Honda Accord и Mazda CX-7. Со всеми опциями. За 5 лет пройдено 120 и 80 тыс.км соответственно, в том числе, по заграничным дорогам. За это время была только одна единственная небольшая проблема, да и та эксплуатационна я - от старости на Аккорде стал подклинивать блокиратор капота (попала грязь, после обслуживания все прошло). Ну, и тоже от старости, вышел из строя 1 брелок (потом был починен самостоятельно) . Все остальное - и в жару и холод без единого сбоя! Это ж надо же было так сделать! Просто нет слов ! Всем сотрудникам компании и лично Александру — огромное Спасибо, так держать!
						.testimonails-block_bottom
							a(class="scan" href="img/user.png" data-fancybox data-caption="Заголовок")
								span Скан отзыва
					.item
						.testimonails-block_top
							.ava-box
								img(src="img/user.png")
							span.testimonails-name Александр
						.testimonails-block_middle
							span.testimonails-block_title Поделюсь собственным небольшим опытом
							p.
								5 лет назад устанавливал в Алекс-Авто охранный комплекс на 2 машины — Honda Accord и Mazda CX-7. Со всеми опциями. За 5 лет пройдено 120 и 80 тыс.км соответственно, в том числе, по заграничным дорогам. За это время была только одна единственная небольшая проблема, да и та эксплуатационна я - от старости на Аккорде стал подклинивать блокиратор капота (попала грязь, после обслуживания все прошло). Ну, и тоже от старости, вышел из строя 1 брелок (потом был починен самостоятельно) . Все остальное - и в жару и холод без единого сбоя! Это ж надо же было так сделать! Просто нет слов ! Всем сотрудникам компании и лично Александру — огромное Спасибо, так держать!
						.testimonails-block_bottom
							a(class="scan" href="img/user.png" data-fancybox data-caption="Заголовок")
								span Скан отзыва
					.item
						.testimonails-block_top
							.ava-box
								img(src="img/user.png")
							span.testimonails-name Александр
						.testimonails-block_middle
							span.testimonails-block_title Поделюсь собственным небольшим опытом
							p.
								5 лет назад устанавливал в Алекс-Авто охранный комплекс на 2 машины — Honda Accord и Mazda CX-7. Со всеми опциями. За 5 лет пройдено 120 и 80 тыс.км соответственно, в том числе, по заграничным дорогам. За это время была только одна единственная небольшая проблема, да и та эксплуатационна я - от старости на Аккорде стал подклинивать блокиратор капота (попала грязь, после обслуживания все прошло). Ну, и тоже от старости, вышел из строя 1 брелок (потом был починен самостоятельно) . Все остальное - и в жару и холод без единого сбоя! Это ж надо же было так сделать! Просто нет слов ! Всем сотрудникам компании и лично Александру — огромное Спасибо, так держать!
						.testimonails-block_bottom
							a(class="scan" href="img/user.png" data-fancybox data-caption="Заголовок")
								span Скан отзыва

				.center
					a(class="button" href="") Все отзывы